@primary-color:#26972D;//#3CB371
@secondary-accent-color:#696969;
@border-line-color:white;
@background-color-primary:#F0FFF0;
@primary-color-2:#FFB040;//#ffd200
@cubeWight:200px;
@cubeHeight:50px;
//#FFB040 #26972D
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
ul{
  list-style: none;
}
html{
  height: 100%;
  display: block;
}
@font-face {
font-family: mob2;
  src: url(../imageAndLogo/mob2.otf);
}
@font-face {
  font-family: mob;
  src: url(../imageAndLogo/mob.otf);
}
aside, nav, footer, header, section { display: block; }
body{
  font-family: mob2;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  background:url(../imageAndLogo/13.jpg) 100% 100%  no-repeat;
  background-size: cover;
}
#wrapper{
  width: 100%;
  height: 100%;
  display: table;
  overflow: hidden;

}
#header{
  width: 100%;
  height: 250px;
  #innerHeader{
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    #topLine{
      width: 100%;
      height: 5%;
      box-shadow: 0px 5px 0px -1px rgba(255,176,64,0.8);
      #innerLine{
        width: 100%;
        height: 100%;
        position: relative;
        background-color: @primary-color;

      }
    }

    #logoAndSearch{
      width: 100%;
      height: 55px;
      font-family: mob;
      #innerLogoAndSearch{
        width: 100%;
        height: 100%;
        position: relative;
        #logo{
          width: 25%;
          height: 100%;
          position: relative;
          margin: 0 auto;
          #centreText{
            width: 100%;
            height: 100%;
            margin: 0 auto;
            background-color: @primary-color;
            color: white;
            line-height: 55px;
            font-size: 3.5vw;
            border-top: 1px solid @primary-color-2;
            box-sizing: border-box;
            text-align: center;
          }
          #left-triangle{
          float: left;
            content: "";
            width: 0;
            height: 0;
            border-top: 55px solid @primary-color;
            border-left: 40px solid transparent;
            margin-left: -40px;

          }
          #right-triangle{
            float: right;
            content: "";
            width: 0;
            height: 0;
            border-top: 55px solid @primary-color;
            border-right: 40px solid transparent;
            margin-right: -40px;
          }
        }
        #menuButtons{
          width: 100%;
          position: absolute;
          #innerMenuButtons{
            width: 100%;
            height: 100%;
            position: relative;

            #buttonMenuLeft{
              float: left;
              width: 200px;
              height: 55px;
              cursor: pointer;
              font-size: 21.5px;
              position: relative;
              transition-timing-function: linear;
              background-color: @primary-color;
              color: white;
              border-bottom: 2px solid @primary-color-2;
              #textForMenuLeft{
                position: absolute;
                margin-right: 20%;
                height: 100%;
                right: 0;
                line-height: 55px;
                text-align: center;
                #underline-left{
                  height:38px;
                  border-bottom: 1px white solid;
                  &:hover{
                    border-bottom-color: @primary-color-2;
                  }
                }

              }
              #forPNGLeft{
                position: absolute;
                margin-top: 12px;
                right: 0;
                width: 30px;
                height: 30px;
                img{
                  width: 100%;
                  height: 100%;
                }
              }
              #left-button-triangle{
                float: right;
                content: "";
                width: 0;
                height: 0;
                border-top: 55px solid @primary-color;
                border-right: 40px solid transparent;
                margin-right: -40px;
              }

            }
            #buttonRightMenu{
              position: relative;
              float: right;
              background-color: @primary-color;
              width: 200px;
              height: 55px;
              font-size: 21px;
              cursor: pointer;
              transition-timing-function: linear;
              color: white;
              border-bottom: 2px solid @primary-color-2;
              #textForMenuRight{
                position: absolute;
                margin-left: 30%;
                height: 100%;
                line-height: 55px;
                text-align: center;
                #underline-right{
                  height:38px;
                  border-bottom: 1px white solid;
                  &:hover{
                    border-bottom-color: @primary-color-2;
                  }
                }
              }
              #forPNGRight{
                position: absolute;
                left: 0;
                margin-top: 12px;
                float: left;
                width: 29px;
                height: 29px;
                img{
                  width: 100%;
                  height: 100%;
                }
              }
              #right-button-triangle{
                float: left;
                content: "";
                width: 0;
                height: 0;
                border-top: 55px solid @primary-color;
                border-left: 40px solid transparent;
                margin-left: -40px;
              }
            }
          }
        }
      }
    }
    #lineAfter{
      width: 100%;
      height: 22px;
      #lineInner{
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
        width: 20%;
        height: 100%;
        position: relative;
        margin: 0 auto;
        #text-bottomLine{
          width: 100%;
          height: 100%;
          position: relative;
          margin: 0 auto;
          color:black;
          background-color: @primary-color-2;
          font-size: 16px;
          text-align: center;
          box-sizing: border-box;
          border-top: 1px solid @primary-color;
        }
        #left-triangle-bottom-line{
          float: left;
          content: "";
          width: 0;
          height: 0;
          border-top: 22px solid @primary-color-2;
          border-left: 17px solid transparent;
          margin-left: -17px;

        }
        #right-triangle-bottom-line{
          float: right;
          content: "";
          width: 0;
          height: 0;
          border-top: 22px solid @primary-color-2;
          border-right: 17px solid transparent;
          margin-right: -17px;
        }
      }
    }
#informMenuTittle{
  position: absolute;
  bottom: 0;
  margin-bottom: 72px;
  width: 100%;
  height: 35px;
  #inner-informMenuTittle{
    width: 100%;
    height: 100%;
    position: relative;
    #texInfoTitle{
      width: 25%;
      height: 100%;
      position: relative;
      margin: 0 auto;
      background-color: @primary-color-2;
      #left-triangle-inf{
        float: left;
        content: "";
        width: 0;
        height: 0;
        border-bottom: 35px solid @primary-color-2;
        border-left: 40px solid transparent;
        margin-left: -40px;
      }
      #textInfo{
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 35px;
      }
      #right-triangle-inf{
        float: right;
        content: "";
        width: 0;
        height: 0;
        border-bottom: 35px solid @primary-color-2;
        border-right: 40px solid transparent;
        margin-right: -40px;
      }
    }
  }
}

    #menuUl{
      width: 100%;
      height: 80px;
      position: absolute;
      bottom: 0px;
      z-index: 1000;

      #innerMenuUl{
        width: 100%;
        height: 100%;
        position: relative;
        .parentMenu{
          height: 72px;
          background: rgba(0, 0, 0,0.85);
        #menuInformation{
          visibility: visible;
          position: absolute;
          left: 50%;
          margin-left:-600px ;
          display: inline-block;
          vertical-align: middle;
          height:72px;
          ul{
            position: relative;
            height:72px;
            li{
              float: left;
              width: 200px;
              cursor: pointer;
              height: 100%;
              font-size: 16px;
              text-align: center;
              line-height: 72px;
              color: @primary-color;
              &:hover{
                background-color: @primary-color;
                color: black;
              }
            }
          }
        }
          #menuServices{
            visibility: hidden;
            position: absolute;
            left: 50%;
            margin-left:-400px ;
            display: inline-block;
            vertical-align: middle;
            height:72px;
            ul{
              position: relative;
              height:72px;
              li{
                float: left;
                width: 200px;
                cursor: pointer;
                height: 100%;
                font-size: 16px;
                text-align: center;
                line-height: 72px;
                color: @primary-color-2;
                &:hover{
                  background-color: @primary-color-2;
                  color: black;
                }
                div{
                  position: absolute;
                }
              }
            }
          }
        }
        #LoadingLineTop {
          width: 100%;
          height: 4px;
          #expand_left {
            height: 4px;
            background: @primary-color;
            position: absolute;
            left: 0;
          }
          #expand_right {
            height: 4px;
            background: @primary-color-2;
            position: absolute;
            right: 0;
          }
        }
        #LoadingLineBot {
          width: 100%;
          height: 4px;
          #expand2_right {
            height: 4px;
            background: @primary-color;
            position: absolute;
            right: 0;
          }
          #expand2_left {
            height: 4px;
            background: @primary-color-2;
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }
}
#center{
  width: 100%;
  height: 100%;
  display: table-row;
  #innerCenter{
    width: 100%;
    position: relative;
    height:auto;
    overflow-y: inherit;
    iframe{
      width: 100%;
      height: 100%;
      border-style: none;
    }
  }
}

#footer{
  width: 100%;
    #innerFooter{
      width: 100%;
      height: 100%;
      position: relative;
     // box-shadow: 0px -5px 0px 0px rgba(0,0,0,0.75);
      border-top: 2px solid @primary-color-2;
      #footerInform{
        background-color:@primary-color;
        width: 100%;
        height: 100px;
        position: relative;
        #InformFooterBox{
          width: 100%;
          height: 50px;
          position: absolute;
         // background-color: rgba(0, 0, 0, 0.90);//rgba(0, 0, 0, 0.87)
          margin-top: 22px;

          #inner{
            position: relative;
            width: 90%;
            height: 100%;
            margin: 0 auto;
            color: black;
            #firstInfoBox{
              box-sizing: border-box;
              float: left;
              img{
                float: left;
                width: 50px;
                height: 100%;
              }
              width: 20%;
              height: 100%;
              font-size: 14px;
              border-right: 1px solid black;
              border-left: 1px solid black;
            }
            #SecondInfoBox{
              box-sizing: border-box;
              float: left;
              width: 20%;
              height: 100%;
              font-size: 14px;
            }
          #thirdInfoBox{
            box-sizing: border-box;
            float: left;
            width: 20%;
            height: 100%;
            font-size: 14px;
            border-left: 1px solid black;
          }
          #fourthInfoBox{
            box-sizing: border-box;
            float: left;
            width: 20%;
            height: 100%;
            font-size: 14px;
            border-left: 1px solid black;
          }
          #fifthInfoBox{
            box-sizing: border-box;
            float: left;
            width: 20%;
            height: 100%;
            font-size: 14px;
            border-left: 1px solid black;
          }
          }
        }
      }
      #basement{
        position: relative;
        width: 100%;
        height: 25px;
        box-shadow: inset 0px 7px 14px 0px rgba(0,0,0,0.56);
        background-color: @primary-color-2;
        margin-top: -10px;
        #text {
          color: white;
          font-size: 20px;
        }
      }
    }

}




// For Google Chrome
::-webkit-scrollbar {
  width:  5px;
}

::-webkit-scrollbar-thumb {
  background: @secondary-accent-color;
}

::-webkit-scrollbar-track {
  background: white;
}

// For Internet Explorer